.al-header{
    background: #FFBC26;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.al-headerImage{
    height: 200px;
}

.al-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    max-width: 1100px;
    margin-top: 40px;
}

.al-introTitle{
    text-align: left;
    font: normal normal 900 20px/27px Avenir;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;
}

.al-introText{
    margin-top: 10px;
    text-align: center;
    font: normal normal normal 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.al-mini-title{
    text-transform: uppercase;
    margin-left: 40px;
    text-align: left;
    font: normal normal 900 20px/27px Avenir;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.al-subtitle{
    text-align: left;
    font: italic normal 600 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #FEBC2C;
    opacity: 1;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.al-subtitle-center{
    text-align: center;
    font: italic normal 600 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #FEBC2C;
    opacity: 1;
    margin: 0 40px;
    max-width: 1000px;
    align-self: center;
}
.al-text-center{
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 30px 100px;
    max-width: 900px;
    align-self: center;
}
.al-bold{
    display: inline;
    font-weight: bold;
}

.al-challenges{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}


.al-channenges-content{
    margin: 40px 40px 40px 40px;
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    align-self: center;
}
.al-challenge{
    margin: 0 40px;
    max-width: 480px;
}
.al-challenge-title{
    text-align: left;
    font: normal normal bold 30px/40px Futura;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.al-challenge-text{
    text-align: left;
    font: normal normal normal 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;  
}

.al-how-might-we{
    display: flex;
    background: #000000;
    margin-top: 60px;
    justify-content: center;
}

.al-how-might-we-content{
    max-width: 1100px;
    display: flex;
    padding: 60px 80px 60px 40px;
    justify-content: center;
    align-items: center;
}

.al-how-might-we-left{
    text-align: left;
    font: normal normal bold 36px/48px Futura;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* min-width: 100px; */
    margin-right: 80px;
}

.al-how-might-we-right{
    text-align: left;
    font: normal normal normal 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    flex: 1;
}

.al-keyfindings{
    margin-top: 60px;
    max-width: 1100px;
    align-self: center;
}

.al-keyfindings-list{
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.al-keyfinding{
    background: #FEBC2C 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.al-keyfinding-number{
    text-align: left;
    font: normal normal normal 30px/40px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.al-keyfinding-text{
    text-align: left;
    font: normal normal 600 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.al-target-audience{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    align-self: center;
}

.al-persona{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    align-self: center;
}

.al-persona-content{
    display: flex;
    flex-direction: row;
    margin: 40px 40px; 
    justify-content: space-between;
}
.al-persona-left{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.al-persona-right{
    flex: 0.5;
}
.al-text{
    text-align: left;
    font: normal normal normal 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.al-persona-type{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: baseline;
}
.al-persona-type-number{
    text-align: left;
    font: normal normal bold 60px/40px Open Sans;
    letter-spacing: 0px;
    color: #FEBC2C;
    margin-right: 20px;
}
.al-persona-type-text{
    text-align: left;
    font: normal normal normal 30px/40px Open Sans;
    letter-spacing: 0px;
    color: #000000;
}

/* 
      <div className="al-persona">
        <div className="al-mini-title">PERSONA</div>
        <p className="al-subtitle">The class comprised of 40 students, after having interacted with each of them for a brief span we classified them into groups</p>
        <div className="al-persona-content">
          <div className="al-persona-left">
            <p className="al-text">There are 4 possible cases considering two important factors that is</p>
            <div className="al-persona-type">
              <p className="al-persona-type-number">01/</p>
              <p className="al-persona-type-text">Interest in learning</p>
            </div>
            <div className="al-persona-type">
              <p className="al-persona-type-number">02/</p>
              <p className="al-persona-type-text">Abiding by the educational system followed by schools and colleges.</p>
            </div>
          </div>
          <div className="al-persona-right">
            <img src={persona} className='al-persona-image'/>
          </div>
        </div>
      </div>

      <div className="al-insights">
        <div className="al-mini-title">INSIGHTS</div>
        <p className="al-subtitle">Once there persona was in place we looked into the life of a student and their methods of learning</p>
        <div className="al-insights-content">
          <div className="al-insight">
            <div className="al-insight-top">
              <img src={classroom} className='al-insight-top-image'/>
              <p className="al-insight-top-text">Classroom</p>
            </div>
            <div className="al-insight-bottom">
              <img src={frog} className='al-insight-bottom-image'/>
              <p className="al-insight-bottom-text">
              - Can’t focus for 30-40 min straight <br/><br/>
              - One size does not fit all
              </p>
            </div>
          </div>
          <div className="al-insight">
            <div className="al-insight-top">
              <img src={homework} className='al-insight-top-image'/>
              <p className="al-insight-top-text">Home work</p>
            </div>
            <div className="al-insight-bottom">
              <img src={fox} className='al-insight-bottom-image'/>
              <p className="al-insight-bottom-text">
              - Boring <br/><br/>
              - Not personalized
              </p>
            </div>
          </div>
          <div className="al-insight">
            <div className="al-insight-top">
              <img src={tests} className='al-insight-top-image'/>
              <p className="al-insight-top-text">Tests</p>
            </div>
            <div className="al-insight-bottom">
              <img src={cat} className='al-insight-bottom-image'/>
              <p className="al-insight-bottom-text">
              - Scary <br/><br/>
              - Requires Prep time
              </p>
            </div>
          </div>
        </div>
      </div>

      <div className="al-conceptualization">
        <div className="al-mini-title">CONCEPTULIZATION</div>
        <p className="al-subtitle">Out of the three insights that we gathered, we couldn’t do much about the classroom, so we picked up on homework and tests</p>
        <div className="al-conceptualization-content">
          <div className="al-conceptualization-left">
            <img src={conceptualization} className="al-conceptualization-image" />
            <p className="al-conceptualization-image-text">Concepts are small and easy to consume</p>
          </div>
          <div className="al-conceptualization-right">
          <p className="al-conceptualization-title">Why Concepts?</p>
          <p className="al-conceptualization-text">
            Each subject taught in school today is divided into consumable chunks known to us as chapters. If you further drill down into the contents of a chapter then we have concepts. We worked our way up to see how interlinked these concepts were across chapters.
            <br/><br/>
            For that, first we wanted to start by understanding the technology itself. This resulted in an extensive research on the technology behind natural language processing.
          </p>
          </div>
        </div>
      </div>


      <div className="al-testtaking">
        <div className="al-mini-title">TEST TAKING</div>
        <p className="al-subtitle">Imagine the concept of mock tests in competitive exams. They re-assure that you can take tests right before the actual test, right? Similar to that we built a test taking module which will ensure the student understands and validates their knowledge at all levels</p>
        <div className="al-testtaking-content">
          <div className="al-testtaking-block">
            <img src={oneCircle} className="al-testtaking-block-image"/>
            <p className="al-testtaking-block-title">Item Response</p>
            <p className="al-testtaking-block-text">A student can test themselves in a concept or a chapter right after they finish their class.</p>
          </div>
          <div className="al-testtaking-block">
            <img src={twoCircles} className="al-testtaking-block-image"/>
            <p className="al-testtaking-block-title">Knowledge Space</p>
            <p className="al-testtaking-block-text">This test is designed to be taken at any point of the learning journey to assess the current knowledge of the student.</p>
          </div>
          <div className="al-testtaking-block">
            <img src={threeCircles} className="al-testtaking-block-image"/>
            <p className="al-testtaking-block-title">Knowledge Space</p>
            <p className="al-testtaking-block-text">If the student feels too confident and is capable of taking a test in an advance chapter. He/she should be able to challenge the system.</p>
          </div>
        </div>
      </div>


      <div className="al-solution-statement">
        <div className="al-mini-title">SOLUTION STATEMENT</div>
        <div className="al-solution-statement-content">
          <p>Gamified learning experience that adapts to the students pace.</p>
        </div>
      </div>

      <div className="al-wireframes">
        <div className="al-mini-title">WIREFRAMES</div>
        <p className="al-subtitle">
          We started ideating on game concept models that would capture the following attributes mentioned below.
        </p>
        <div className="al-wireframes-content">
          <p className="al-wireframe-title">Explore</p>
          <div className="al-wireframe">
            <img src={s1} />
            <p>We gamified the process of exploring. Concepts enable the students to take any path they wished to take to learn. So each student can have a different and unique path.</p>
          </div>
          <p className="al-wireframe-title">Learn</p>
          <div className="al-wireframe">
            <img src={s2} />
            <p>
              We also added promts along the path for the students to make sense of the relationship between each concept as the chapters progressed.
              <br/><br/>
              There are default base concepts for each chapter. The student can choose to start from any of these starting points. Also, once they click on the concept/chapter they have access to all the learning material needed.
            </p>
          </div>
          <p className="al-wireframe-title">Self-assess</p>
          <div className="al-wireframe">
            <img src={s3} />
            <p>
              A chapter level test would assess the student’s knowledge on all the concepts within the chapter. Similar, the concept level test was more specific and less time taking. The student can see on an average what position he/she scored. There is no pass/fail system during testing.
              <br/><br/>
              The test can be retaken and it will adjust the difficulty based on the students knowledge.
            </p>
          </div>
          <p className="al-wireframe-title">Reward</p>
          <div className="al-wireframe">
            <img src={s4} />
            <p>
              We researched a lot and thought through a lot of reward systems including the point/coin based reward systems. Later settled on something that could be less competitive but yet gain a students sense of belonging.
              <br/><br/>
              We went ahead to incorporate avatars/badges that a student could unlock during the process. Which would distinguish them and create a unique identity amongst their peers.
            </p>
          </div>
        </div>
      </div>
*/