.d-header{
    background: #A17EFF;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.d-headerImage{
    height: 200px;
}

.d-intro{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    max-width: 1100px;
    margin-top: 120px;
    max-width: 1100px;
    /* background: chartreuse; */
}

.d-intro-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-left: -30px;
}

.d-intro-left-img{
    max-height: 300px;
    margin-left: -30px;
}

.d-intro-right-img{
    max-height: 200px;
    margin-top: -60px;
}

.d-introTitle{
    text-align: left;
    font: normal normal 900 20px/27px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;
}

.d-introText{
    margin-top: 10px;
    text-align: center;
    font: normal normal normal 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    max-width: 1100px;
    margin-left: 40px;
    margin-right: 40px;
}


.d-mini-title{
    text-transform: uppercase;
    text-align: left;
    font: normal normal 900 20px/27px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.d-subtitle{
    text-align: left;
    font: italic normal 600 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #F87E03;;
    opacity: 1;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.d-subtitle-center{
    text-align: center;
    font: italic normal 600 20px/30px Open Sans;
    letter-spacing: 0px;
    color: #F87E03;;
    opacity: 1;
    margin: 0 40px;
    max-width: 1000px;
    align-self: center;
}
.d-text-center{
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 30px 100px;
    max-width: 900px;
    align-self: center;
}
.d-bold{
    display: inline;
    font-weight: bold;
}

.d-title{
    text-align: left;
    font: normal normal bold 30px/40px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.d-text{
    text-align: left;
    font: normal normal normal 20px/36px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 10px;
}

.d-immersions{
    width: 1100px;
    align-self: center;
    margin-top: 60px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}
.d-immersions-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.d-immersions-left{
    flex: 0.4;
    max-width: 400px;
    margin-right: 10px;
}
.d-immersions-right{
    flex: 0.6;
    margin-top: -80px;
    /* display: block; */
}
.d-immersions-img{
    min-width: 100%;
}
.d-immersions-middle{
    width: 100%;
    margin-top: 40px;
}
.d-immersions-middle-img{
    min-width: 100%;
}
.d-immersions-bottom{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.d-mini-title-center{
    font: normal normal bold 30px/40px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.d-immersions-bottom-img{
    max-width: 100%;
}

.d-how-might-we{
    display: flex;
    background: #000000;
    margin-top: 100px;
    justify-content: center;
}

.d-how-might-we-content{
    max-width: 1100px;
    display: flex;
    padding: 60px 80px 60px 40px;
    justify-content: center;
    align-items: center;
}

.d-how-might-we-left{
    text-align: left;
    font: normal normal bold 36px/48px Nunito;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* min-width: 100px; */
    margin-right: 80px;
}

.d-how-might-we-right{
    text-align: left;
    font: normal normal normal 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    flex: 1;
}

.d-concept{
    max-width: 1100px;
    align-self: center;
    margin-top: 100px;
    padding: 0 40px;
}
.d-concept-content{
    display: flex;
    margin-top: 40px;
}
.d-concept-left{
    flex: 0.2;
}
.d-concept-left-img{
    min-width: 100%;

}
.d-concept-center{
    flex: 0.4;
    margin-right: 10px;
    margin-left: 10px;
}
.d-conceptTitle{
    text-align: left;
    font: normal normal bold 30px/40px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.d-conceptText{
    margin-top: 20px;
    text-align: left;
    font: normal normal normal 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.d-concept-right{
    flex: 0.4;
    margin-top: -40px
}
.d-concept-right-img{
    min-width: 100%;
}

.d-storyboarding{
    max-width: 1100px;
    align-self: center;
    margin-top: 100px;
    padding: 0 40px;
}

.d-idea{
    max-width: 1100px;
    align-self: center;
    margin-top: 100px;
    padding: 0 40px;
}
.d-idea-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.idea-block{
    width: 40%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
    /* background: chocolate; */
}
.idea-block-top{
    max-width: 80%
}
.idea-block-img{
    width: 100%;
}
.idea-block-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    min-height: 300px;
}
.idea-block-left{
    text-align: left;
    font: normal normal bold 60px/40px Open Sans;
    letter-spacing: 0px;
    color: #A17EFF;
    opacity: 1;
}
.idea-block-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.idea-block-right-title{
    text-align: left;
    font: normal normal bold 30px/40px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.idea-block-right-text{
    text-align: left;
    font: normal normal normal 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.d-solution{
    width: 1100px;
    align-self: center;
    margin-top: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}
.d-solution-content{
    max-width: 800px;
    align-self: center;
    position: relative;
}
.d-solution-content-line{
    position: absolute;
    top: 110px;
    left: 196px;
    max-width: 430px;
}
.d-solution-content-text{
    text-align: center;
    font: italic normal 600 60px/80px Open Sans;
    letter-spacing: 3.6px;
    color: #000000;
    margin-top: 40px;
}
.d-solution-content-highlight{
    text-align: center;
    font: italic normal 600 60px/80px Open Sans;
    letter-spacing: 3.6px;
    color: #F73939;
    display: inline;
}



.d-you-choose{
    display: flex;
    background: #A17EFF;
    margin-top: 60px;
    justify-content: center;
}

.d-you-choose-content{
    width: 1100px;
    display: flex;
    padding: 60px 80px 60px 40px;
    justify-content: space-between;
    align-items: center;
}

.d-you-choose-left{
    text-align: left;
    font: normal normal bold 59px/78px Nunito;
    letter-spacing: 0px;
    color: #4C2DA2;
    opacity: 1;
    margin-right: 80px;
}

.d-you-choose-right{
    text-align: left;
    font: normal normal normal 20px/40px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.d-you-choose-img{
    max-height: 120px;
}

.d-final{
    width: 1100px;
    align-self: center;
    margin-top: 100px;
    padding: 0 40px;
}
.d-final-content{
    margin-top: 20px;
    width: 100%;
}
.d-final-img{
    min-width: 100%;
}
/*


      <div className="d-you-choose">
        <div className="d-you-choose-content">
          <div className="d-you-choose-left">You choose <br/>when and how.</div>
          <div className="d-you-choose-right">
            <img src={whiteBear} className="d-you-choose-img" />
          </div>
        </div>
      </div>


      <div className="d-final">
        <p className="d-mini-title">FINAL INTERFACE</p>
        <div className="d-final-content">
          <img src={ui} className="d-final-img" />
        </div>
      </div>

*/
