.sideBar{
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding: 50px;
  height: 100%;
  align-content: space-between;
  background: white;
  min-width: 240px;
}

.logoHolder{
  flex-grow: 1;
}

.logo{
  width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}