.projectLink{
  width: 260px;
  /* margin: 0 80px 60px 0; */
  text-decoration: none;
  color: black;
}
.p1{
  background: #FFBC26;
}
.p2{
  background: #5086FF;
}
.p3{
  background: #A17EFF;
}
.p4{
  background: #F7828B;
}
.p5{
  background: #6AE0EA;
}
.p6{
  background: #2266E5;
}
.p1,.p2,.p3,.p4,.p5,.p6{
  padding: 10px 20px;
  width: 260px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectImage{
  max-height: 80%;
  max-width: 70%;
}
.projectTitle{
  margin-top: 24px;
  text-align: left;
  font: normal normal bold 22px/36px Nunito;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.projectDescription{
  margin-top: 10px;
  text-align: left;
  font: normal normal normal 20px/30px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  height: 120px;
}

/* .projectTags{
} */

.projectTag{
  display: inline;
  margin-right: 14px;
  text-align: left;
  font: normal normal bold 18px/40px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}