.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

.layoutMobile {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}


.sideBarContainer{
  width: 240px;
}

.contentHolder{
  flex-grow: 10;
  min-height: 100%;
  background-image: url(../../../static/bg.png);
  background-repeat: repeat;
  border-left: 1px solid #F7F7F7;
  padding-top: 100px;
  padding-left: 0px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.contentHolderMobile{
  min-height: 100%;
  background-image: url(../../../static/bg.png);
  background-repeat: repeat;
  border-left: 1px solid #F7F7F7;
  padding-top: 0px;
  padding-left: 0px;
  width: 100%;
  display: flex;
}
