.introContainer{
    max-width: 500px;
    overflow: visible;
    margin-top: 80px;
    margin-left: 50px;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;
    flex-grow: 1;
}
.doodleArrow{
    height: 60px;
    position: relative;
    left: 345px;
    bottom: -8px;
}
.doodleMonster{
    position: relative;
    bottom: -30px;
    left: 435px;
    font-size: 14px;
}
.introHello{
    text-align: left;
    font: normal normal bold 40px/53px Futura;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 12px;
}
.introText{
    text-align: left;
    font: normal normal normal 30px/50px Avenir;
    letter-spacing: 0px;
    color: #000000;
    position: relative;
}
.wordHighlight{
    color: white;
    display: inline;
    z-index: 2;
    position: relative;
    margin-left: 6px;
}

.introHighlightImage{
    position: absolute;
    height: 46px;
    left: 142px;
    top: 3px;
    z-index: 0;
}

.aboutContainer{
    display: flex;
    flex-direction: row;
}
.coolVibesContainer{
    padding-left: 100px;
    margin-top: 0px;
}
.coolVibesImage{
    max-height: 400px;
    margin-top: 100px;
}

.resumeLinkContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: -10px;

}
.resumeButtonImage{
    align-self: center;
    max-width: 200px;
}